$colors: (
  dark-gray: #222,
  gray: #444,
  light-gray: #bbb,
  lightest-gray: #eee
);

$heading-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-weight: 300;
$heading-font-color: map_get($colors, gray);

$font-family: Helvetica, Arial, sans-serif;

$link-font-family: $heading-font-family;
$link-font-color: map_get($colors, dark-gray);
