@import "settings";

body {
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $heading-font-color;
}

a {
  font-family: $link-font-family;
  color: $link-font-color;
  text-decoration: none;

  &:visited {
    color: $link-font-color;
  }

  &.no-link-style {
    color: $font-color;

    &:visited {
      color: $font-color;
    }
  }
}

nav {
  width: 100%;

  h1,
  h3 {
    margin: 1rem;
  }

  a {
    color: $heading-font-color;

    &:visited {
      color: $heading-font-color;
    }
  }
}

.flex-separate {
  display: flex;
  justify-content: space-between;
}

.main-image-content {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;

  .post-title {
    display: block;
    text-align: center;
  }

  .post-title-container {
    height: 100px;
  }

  .post-image {
    max-height: 400px;
  }

  .post-image-container {
    height: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

.main-post-content {
  width: 80%;
  margin: 0 auto;
  max-width: 700px;

  .post-title {
    margin-bottom: 5px;
  }

  .post-sub-title {
    font-size: 1.2rem;
    font-style: italic;
    color: #888;
    margin-top: 0;
  }
}

.spin {
  animation: App-logo-spin infinite 3s linear;
  width: 30px;
  margin-top: 125px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-navigation {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  a {
    margin: 0 10px;
  }
}

.post-navigation {
  display: flex;
  justify-content: left;
  margin: 2rem 0;

  a {
    margin: 0 10px;
  }
}

.nav-bar {
  height: 65px;
}

.navigation {
  list-style: none;
  display: inline-flex;
  margin: 1.5rem 0 0;
  padding: 0;

  li {
    margin: 0 20px;
  }
}
